@import "../components/tgm-bootstrap/less/tgm-bootstrap.less";
@import "navbar.less";

html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar {
  margin: 0;

  .tgm-strip {
    .tgm {
      background-size: contain;
      margin-left: 20px;
    }

    .till-hoger {
      float: right;
      margin-right: 20px;
    }

    .icons {
      display: inline-block;
      float: none;

      :last-child {
        float: none;
        border-right: none;
      }
    }

    .twitter-share-button {
      top: 6px;
      margin-left: 5px;
    }

    .fb-like {
      margin-left: -25px;
      top: 3px;
    }
  }
}

/* Start basic prototype styles */
.container{
  font-size: 12px;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  &.app {
    margin-top: -25px;
    .box-shadow(inset 0px 10px 30px -25px black);
  }
}

#chart-container {
	width: 900px;
	background: rgba(255,255,255,0.5);
	padding: 40px 30px;
  float:left;
  .graph-title {
    font-size: 20px;
    font-weight: bold;
  }
}

#logo {
  display: block;
  background: url(/images/party-lines.png) no-repeat transparent;
  height: 159px;
  width: 100%;
  h1 {
    margin: 0;
  }
}

#legend{
  margin-top: 40px;
  font-size: 11px;
  line-height: 1;
  float:left;
  tr {
    border-top: 4px solid white;
  }
}

#snippet-container{
  clear:left;
  display:none;
}

.highlight{
  font-size: 2em;
  font-weight: bold;
}

.form{
  padding: 1em;
  input[type="text"] {
    width: 100%;
    margin: 6px 0 2px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 0 0;
  }
  em {
    font-size: 11px;
  }
}

#chart-container h2 {
	color: #444;
	margin: 20px 0 10px;
	font-weight: 300;
	padding: 10px;
	font-size: 24px;
}

svg {
	font-family: @sansFontFamily;
	font-size: 10px;
	font-weight: 400;
}

text.country-title {
	font-size: 20px;
}

text.instructions {
	font-size: 16px;
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

g.france path.chart {
	fill: rgba(127,201,127,0.5);
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}

.x text { display: none; }

#week{
  width: 400px;
}

/* end prototype styles */






#viz {
    @green: #1aab45;
    @blue: #0b6eb8;
    @orange: #fd8939;
    @yellow: #f3bf07;

    .fill-green  { fill: @green; }
    .fill-blue   { fill: @blue; }
    .fill-orange { fill: @orange; }
    .fill-yellow { fill: @yellow; }
}

.invisible {
    .opacity(0);
}



@import "responsive.less";
